body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b437c;
}

html{
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
